@charset "utf-8";

/* -------------------------------------------------------------------

[Table of contents]

01. Intro
02. info
03. upload 
04. query
05. right query
06. left query
06. footer

------------------------------------------------------------------- */
:root{
  --my-blue:#218990;
  
  --debug-border-1: 1px solid red;
  --debug-border-2: 1px solid green;
  --debug-border-3: 1px solid #111111;
  
  --background:#04081f;
  --background-container:#0f131f;
  --background-button:#1a333c;
}

*{
	box-sizing: border-box;
}

header,section,aside,nav,article{
  display:block;
  border-radius:2px;
  }
/*** 01. Intro ***/

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	margin:0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 2.9;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: #020312;
	color: #e0e0e0;
}
a:link {
	color: #D64078;
	text-decoration: none;
}

a:visited {
	color: #D64078;
}

a:hover {
	text-decoration: underline;
}

a:active {
	background-color: black;
	color: white;
}


/*** 01. info ***/


.panel_info {
	width: 100%;
	height: 20%;
	position:relative;
	border-bottom:4px dotted black;
}

.panel_info .container{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction:row;
	background-color: #07081f;
	
}

.panel_info .container .text_area{
	
}
.panel_info .container .text_area .inf{
	
}

/*** 01. upload ***/

.panel_upload {
	
	width: 100%;
	height: 30%;
	position:relative;

	
}

.panel_upload .container{
	width: 100%;
	height: 100%;
	position: relative;
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-content: space-around;
	justify-content: space-around;
	border-radius:5px;
	padding: 20px 10px 10px 10px;
	
	background-color: var(--background-container);
	/*border:var(--debug-border-2);*/
	
	
}
.panel_upload .container .dragdrop_area{

	
	font-size:30px;
	line-height:5.1;
	opacity:0.5;
	letter-spacing: 11px;
	width: 56%;
	height: 100%;
	background-color: #0f1316;
	border:1px solid #0f1316;
	border-radius:5px;
	text-align:center;
	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
	    -ms-transition: all .6s ease;
	     -o-transition: all .6s ease;
	        transition: all .6s ease;
	
}

.panel_upload .container .dragdrop_area:hover{

	background-color: #0f131f;
	
	border:5px dashed #555555;

}

.panel_upload  .container .control{

	width: 40%;
	height: 100%;
	
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	
	align-content:space-between;
	justify-content:space-between;
	
	float:left;
	text-align:center;

}

.panel_upload .container .control [class^="button"]{
	margin:2px;
	width: 20%;
	height: 45%;
	float:left;
	color: white;
	border-radius:55px;
	background-color: var(--background-button);
	border:var(--debug-border-3);
	cursor: pointer;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;

}

.panel_upload .container .control [class^="button"]:hover {opacity: 0.6;}



.panel_upload .container .control .input{
	
	width: 40%;
	height: 20%;
	color: black;

	background-color: #bbbbbb;
	border:var(--debug-border-3);
}
.panel_upload .container .control [class^="lable"]{

	float:left;
	width: 30%;
	height: 25%;
	color: #ffffff;
	
}
/*** 01. query ***/
.panel_query {
	
	width: 100%;
	height: 40%;
	position: relative;
	padding: 10px 0px 10px 0px;
	
	background-color: var(--background);
	
}
.panel_query .container  {
	
	width: 100%;
	height: 100%;
	position: relative;
	
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	background-color: var(--background-container);
	
	
}

/*** 01. right query ***/
.panel_query .container .right {
	width: 30%;
	height: 100%;
	position: relative;
	

}

.panel_query .container .right .query_control{
	
	width: 100%;
	height: 100%;
	
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;

	align-content:space-around;
	justify-content:space-around;
}
.panel_query .container .right .query_control .query_button{
	
	position: relative;
	background-color: var(--background-button);
	width: 60%;
	height: 32%;
	border-radius: 55px;
	
	margin:auto;
	
	-webkit-transition:  1s ease-in-out;
	   -moz-transition:  1s ease-in-out;
	    -ms-transition:  1s ease-in-out;
	     -o-transition:  1s ease-in-out;
	        transition:  1s ease-in-out;
	cursor: pointer;
	border:var(--debug-border-3);
}
.panel_query .container .right .query_control .query_button:hover{
	
	background-color:#555555;
	opacity:0.4;
	border:2px dashed black;
	

}
.panel_query .container .right .query_control .lable{
	
	width: 60%;
	height: 17%;
	margin-top:50px;
	margin-left:10px;
}

.panel_query .container .right .query_control .query_input{
	
	background-color: #bbbbbb;
	
	width: 60%;
	height: 15%;
	margin-bottom:50px;
	border:#ffffff;
}

/*** 01. left query ***/
.panel_query .container .left {
	
	width: 60%;
	height: 100%;
	position: relative;
	
	align-content: flex-end;
	
	border:var(--debug-border-2);
}
.panel_query .container .left [class^="q_result_area"]{
	margin: 20px 0 10px 0;
	margin: auto;
	width: 50%;
	height: 30%;
	
	line-height: 1.9;
	letter-spacing: 1.5px;
	
	text-align:center;
	position: relative;

	
}
.panel_query .container .left .q_result_area p {
	
}


/*** 01. footer ***/

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;   /* footer */

	display: block;
	text-align: center;
	overflow: hidden;
	background-color: #333;
	color: white;
	padding: 1em;
}
#footer span {
	height: 1em;
}


