@charset "utf-8";

/* -------------------------------------------------------------------

[Table of contents]

01. Intro
02. info
03. upload 
04. query
05. right query
06. left query
06. footer

------------------------------------------------------------------- */
:root{
  --my-blue:#218990;
  
  --debug-border-1: 1px solid red;
  --working-border: 0.1px solid white;
  --debug-border-3: 1px solid #111111;
  
  --background:black;
  --background-container:black;
  --background-button:#222;
}

*{
	box-sizing: border-box;
}

header,section,aside,nav,article{
  display:block;
  border-radius:2px;
  }
/*** 01. Intro ***/

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
	color:#00ff00;
}
body{
	position:relative;
	
	width:100%;
	height:600px;
	margin:0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.9;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	background-color: var(--background-container);
	
	
}
a:link {
	color: #D64078;
	text-decoration: none;
}

a:visited {
	color: #D64078;
}

a:hover {
	text-decoration: underline;
}

a:active {
	background-color: black;
	color: white;
}
.input{
	
	
	height:30px;
	width:220px;
	border-radius:7px;
	
	background-color: #bbbbbb;
	
	border:#ffffff;
	
}

[class^="button"]{
	
	margin-top:40px;
	width: 100px;
	height: 35px;
	
	grid-column-start:1;
	grid-column-end: 4;
	
	grid-row-start:5;
	grid-row-end: 6;


	float:right;
	color: white;
	border-radius:7px;
	background-color: var(--background-button);
	border:var(--debug-border-3);
	cursor: pointer;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
[class^="button"]:hover{
	
	opacity:0.7;
}
/*** 01. info ***/


.panel_info {
	width: 100%;
	height: 20%;
	position:relative;
	
}

.panel_info .container{
	width: 100%;
	height: 100%;
	
	display:grid;
	
	background-color: black;
	
}

.panel_info .container .text_area{
	
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	overflow:auto;
	border-bottom:0px;
	
}
.panel_info .container .text_area .inf{
	
	
}

.main{
	position:relative;
	width: 100%;
	height: 500px;
	
	display: grid;  

}

/*** 01. upload ***/

.main .panel_upload {
	
	
	position:relative;
	height: 100%;
	
	grid-column: 1/2;
	grid-row: 1/2;
	
	border:var(--working-border);

}

.main .panel_upload .container {
	
	position: relative;
	height: 100%;
	max-width:100%;
	max-height:100%;
	
	display:grid;
	grid-gap: 0px;
	
	
	background-color: var(--background-container);
	border:var(--working-border);
	/*border:var(--working-border);*/
	
	
}

.main .panel_upload .container .dragdrop_area{

	
	grid-row: 1/2;
	grid-column: 1/2;

	text-align:center;
	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
	    -ms-transition: all .6s ease;
	     -o-transition: all .6s ease;
	        transition: all .6s ease;
			
	/* 
	border-left:1px solid white;
	border-bottom:1px solid white;
	border-top:1px solid white;
	border-right:0px solid white; */
	
	border:var(--working-border);
}

.main .panel_upload .container .dragdrop_area p{
	line-height:5.1;
	font-weight: normal;
	opacity:0.7;
	letter-spacing: 9px;
	margin-top:0;
	font-size:30px;
	line-height: 50px;
    color: darkslategray;
	
}
.main .panel_upload .container .dragdrop_area #upload{
	opacity:0.7;
	margin:auto;
}

.main .panel_upload .container .dragdrop_area:hover{

	background-color: #120212;
	
}

.main .panel_upload .container .control{
	
	margin-top:0px;
	grid-row: 2/4;
	grid-column: 1/2;

	display: grid;
	grid-gap: 5px;
	padding:10px 10px 10px 10px;
	text-align:center;
	
	border-left:1px solid white;
	border-bottom:1px solid white;
	
	border:1px solid white;
}

.main .panel_upload .container .control [class^="button"]{
	margin-top:40px;
	width: 100px;
	height: 35px;
	grid-column:1/4;
	grid-row:5/6;
	color: white;
	border-radius:7px;
	background-color: var(--background-button);
	border:var(--debug-border-3);
	cursor: pointer;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;

}
/* .main .panel_upload .container .control .file_upload:before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.main .panel_upload .container .control .file_upload:hover::before {
  border-color: black;
}
.main .panel_upload .container .control .file_upload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

.main .panel_upload .container .control [class^="button"]:hover{opacity: 0.6;}


.main .panel_upload .container .control #NP_input{grid-row:2/3;}
.main .panel_upload .container .control #name_input{grid-row:3/4;}
.main .panel_upload .container .control #Email_input{grid-row:4/5;}

/* .main .panel_upload .container .control .input {grid-column: 2/4;}

 */
.main .panel_upload .container .control #NP_lable{grid-row:2/3;}
.main .panel_upload .container .control #name_lable{grid-row:3/4;}
.main .panel_upload .container .control #Email_lable{grid-row:4/5;}

.main .panel_upload .container .control label{
	grid-column:1/2;
	height:22px;
	width:110px;
	text-align:start;
}

/*** 01. query ***/
.main .panel_query {
	position: relative;
	width:100%;
	height: 100%;

	grid-column: 2/4;
	grid-row: 1/2;

	background-color: var(--background);
	
}
.main .panel_query .container  {
	position: relative;
	width:100%;
	
	height:100%;

	display: grid;
	grid-gap: 0px;
	
	background-color: var(--background-container);
	
	
}

/*** 01. QUERY query ***/
/* 
.container  --> .qur
			--> .res
*/
.main .panel_query .container .qur {
	position: relative;
	
	width:100%;
	height:370px;

	max-height:100%;
	min-height:100%;
	
	max-width:100%;
	min-width:100%;
	
	border-right:1px solid white;
	border-bottom:1px solid white;
	
	border-top:1px solid white;
	border-left:1px solid white;
	
	border:1px solid white;
	
	grid-row: 1/4;
	grid-column: 1/2;

	
}

.main .panel_query .container .qur .form_query{
	
	position: relative;
	
	width: 100%;
	height: 100%;
	
	display: grid;
	grid-gap:0px;
	padding: 10px 10px 10px 10px;
	
}

.main .panel_query .container .qur .form_query .query_button:hover{
	
	background-color:#555555;
	opacity:0.4;
	border:2px dashed black;
	

}

.main .panel_query .container .qur .form_query .query_button{
	
	
	grid-row:4/5;
	
	grid-column:1/2;

	cursor: pointer;
	color:white;
	
	background-color: var(--background-button);
	
	border:var(--working-border);
}

.main .panel_query .container .qur .form_query .lable{
	
	position:relative;
	
	width:70%;
	height:0px;
	
	grid-row:1/2;
	grid-column:1/2;
}

.main .panel_query .container .qur .form_query .input{
	position:relative;
	
	height:50%;
	
	grid-row:2/3;
	grid-column:1/2;
	
	border:var(--working-border);
	
}

/*** 01. result query ***/

/* 
.container  --> .qur
			--> .res
*/
.main .panel_query .container .res {
	
	position:relative;
	
	grid-column: 2/5;
	grid-row: 1/4;
	
	border-right:1px solid white;
	border-bottom:1px solid white;
	
	border-top:0px;
	border-left:0px;
	
	border:1px solid white;
	max-height:100%;
	min-height:100%;
	
	max-width:0px;
	min-width:100%;
	
	width:0px;
	
}

.main .panel_query .container .res #q_res{
	position:relative;
	

	max-height:inherit;
	min-height:inherit;
	
	max-width:inherit;
	min-width:inherit;
	
	
	word-wrap:break-word;
	overflow:auto;
	font-size: 12px;
	text-align:start;
	border:var(--working-border);
	line-height: 1.9;
	letter-spacing: 2.5px;
	
	
}
.panel_query .container .res .q_result_area p {
	
}


/*** 01. footer ***/

footer{
	position: absolute;
	bottom:-100px;
	width: 100%;
	height: 60px;
	line-height: 1;
	font-size:14px;
	
	display: block;
	text-align: center;
	overflow: hidden;
	background-color: var(--background-container);
	border:var(--working-border);

	color: white;
	padding: 1em;
}
#footer span {
	height: 1em;
}

/****************************** RESPONSIVE ************************/

@media screen and (max-width: 768px) {
	
	.main .panel_query {
		grid-column: 1/4;
		grid-row: 2/4;
		
		margin-bottom:200px;
	}
	
	.main .panel_query .container .qur{
		height:300px;
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.main .panel_query .container .res{
		height:50px;
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.main .panel_upload {
	
		height:400px;
		grid-column: 1/4;
		grid-row: 1/2;
}
	.main .panel_upload .container .control{
		padding:20px;

	}

	footer{
		position: absolute;
		bottom:-600px;
		
	}
}